* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{    
    background: #13293e;
}

.container{
    width:40rem;
    margin: 5rem auto;   
    background: white;
    border-radius: 0.625rem;    
    min-height: 30rem;   
}

#newtask{
    padding: 1.88rem 1.25rem;
    width: 40rem;
    min-height: 20rem;
}

#newtask input{
    width: 32rem;
    height: 2.8rem;
    padding: 0.75rem;
    color: #13293e;
    font-weight: 31.25rem;    
    border-radius: 0.3rem;
    font-family: 'Poppins',sans-serif;
    font-size: 0.94rem;
    border: 2px solid #d1d3d4;
}

#newtask input:focus{
    outline: none;
    border-color: #2e465c;
}

#push{
    float: right;
    font-weight: 31.25rem;
    font-size: 1rem;
    background-color: #2e465c;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 5rem;
    height: 2.8125rem;
    border-radius: 0.3rem;
    font-family: 'Poppins',sans-serif;
}

#push:hover, #push:focus {
    background-color: rgba(46, 70, 92,0.4);
    color: rgb(46, 70, 92);
    border: 2px solid #2e465c;
}

#newtask ul li{
    margin: 2rem 0rem;   
    list-style-type: none;
}

.task{
    border-radius: 0.3rem;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0.63rem;
    display: flex;
}

.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 0.94rem;
    font-weight: 25rem;
}

.task button{
    background-color: #3e496e;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 2rem;
    width: 2.5rem;
    border-radius: 0.3rem;
    
}

.task button:hover, .task button:focus {
    background-color: #ffffff;;
    color: #3e496e;
    border: 2px solid #3e496e;
}

